### 1.　J-Quants API にアクセス

In [ ]:
pip install jquants-api-client

#### 1.0　データ取得の流れ

1. メールアドレスとパスワードを用いてWeb画面かAPIでリフレッシュトークンを取得する。
2. リフレッシュトークンを用いて専用APIでIDトークンを取得する。
3. IDトークンを用いて、各種情報を取得するAPIを利用する。

In [2]:
import json
import requests
import pandas as pd
from datetime import datetime
from dateutil import tz
import jquantsapi

#### 1.1 クライアント情報を設定

In [3]:
email = "your-email"
password = "your-pass"
cli = jquantsapi.Client(mail_address=email, password=password)

### 2. 各種データの取得

#### 2.1　上場銘柄一覧

In [7]:
company_df = cli.get_listed_info()
company_df.head()

,Date,Code,CompanyName,Sector17Code,Sector17CodeName,Sector33Code,Sector33CodeName,ScaleCategory,MarketCode,MarketCodeName
0,2023-02-10,13010,極洋,1,食品,0050,水産・農林業,TOPIX Small 2,0111,プライム
1,2023-02-10,13050,大和アセットマネジメント株式会社 ダイワ上場投信−トピックス,99,その他,9999,その他,-,0109,その他
2,2023-02-10,13060,野村アセットマネジメント株式会社 ＮＥＸＴ ＦＵＮＤＳ ＴＯＰＩＸ連動型上場投信,99,その他,9999,その他,-,0109,その他
3,2023-02-10,13080,日興アセットマネジメント株式会社 上場インデックスファンドＴＯＰＩＸ,99,その他,9999,その他,-,0109,その他
4,2023-02-10,13090,野村アセットマネジメント株式会社 ＮＥＸＴ ＦＵＮＤＳ ＣｈｉｎａＡＭＣ・中国株式・上証５０...,99,その他,9999,その他,-,0109,その他

#### 2.1　株価四本値（/prices/daily_quotes）

In [5]:
daily_quotes_df = cli.get_prices_daily_quotes(code=13010, from_yyyymmdd="20220101", to_yyyymmdd="20221231")
daily_quotes_df.head()

,Date,Code,Open,High,Low,Close,Volume,TurnoverValue,AdjustmentFactor,AdjustmentOpen,AdjustmentHigh,AdjustmentLow,AdjustmentClose,AdjustmentVolume
0,2022-01-04,13010,3110.0,3110.0,3075.0,3085.0,9200.0,28436000.0,1.0,3110.0,3110.0,3075.0,3085.0,9200.0
1,2022-01-05,13010,3100.0,3115.0,3075.0,3110.0,6900.0,21394000.0,1.0,3100.0,3115.0,3075.0,3110.0,6900.0
2,2022-01-06,13010,3085.0,3115.0,3075.0,3075.0,9500.0,29362500.0,1.0,3085.0,3115.0,3075.0,3075.0,9500.0
3,2022-01-07,13010,3080.0,3115.0,3070.0,3070.0,11300.0,34835000.0,1.0,3080.0,3115.0,3070.0,3070.0,11300.0
4,2022-01-11,13010,3070.0,3090.0,3055.0,3085.0,10500.0,32281500.0,1.0,3070.0,3090.0,3055.0,3085.0,10500.0